.company {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.company__pic {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  background-size: 100%;
}

.company__text {
  margin: 2rem 10rem;
  text-align: center;
}

.company__text h1 {
  color: rgb(4, 4, 164);
}

.company__text p {
  margin-bottom: 3rem;
  font-style: italic;
}
