.company {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.company__pic {
  border: black solid 3px;
}

.company__text {
  margin: 10rem;
  text-align: center;
}

.company__text p {
  margin-bottom: 3rem;
}
