.footer {
  width: 100%;
  height: 200px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  /* margin-top: 80px; */
}

.footer__links {
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer__links--email {
  margin: 0.4rem;
}

.footer__links span {
  margin: 0.7rem;
}
.footer p {
  color: white;
  display: flex;
  align-items: center;
}

.footer__copyright {
  margin: 0.4rem;
  transform: scale(0.72);
  padding-top: 0.2rem;
}
