.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background-color: white;
  display: flex;
  box-shadow: 0 0 20px 0 gray;
  z-index: 1000;
  gap: 1rem;
  justify-content: flex-start;
}

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__logo img {
  width: 7rem;
  margin-left: 2rem;
}

.header__nav-bar {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: 10rem;
}

.header__nav-bar a::after {
  content: "";
  display: block;
  background-color: black;
  height: 0.3em;
  margin-top: 0.4em;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

.header__nav-bar a:hover::after {
  transform: scale(1, 1);
}

.header__nav-bar a {
  color: black;
  text-decoration: none;
  margin: 20px;
}

.header__language-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}
