.home {
  min-height: 90vh;

  display: flex;
  flex-direction: column;
}

.text-and-product {
  margin-top: 170px;

  display: flex;
  justify-content: space-evenly;
}

.text-container__title {
  font-size: 2rem;
}

.text-container__text {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.text-container__button {
  padding: 2.5rem;
}

.text-container__product_image {
  margin: 1rem;
}

.text-container button {
  background-color: var(--theme-blue-80_pct);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  justify-content: center;
  height: 50px;
  width: 160px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.text-container__leslie-motto {
  height: 250px;
  background-repeat: no-repeat;
}

.product-image {
  width: 700px;
  height: 800px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 720px) {
  .product-image {
    display: none;
  }

  .text-container__title {
    text-align: center;
  }

  .text-container__text {
    text-align: center;
    margin: 1rem;
  }

  .text-container__button {
    text-align: center;
    margin: 2rem;
  }

  .text-container__product_image {
    text-align: center;
  }

  .text-container__leslie-motto {
    height: 250px;
    background-repeat: no-repeat;
    padding-bottom: 2.5rem;
    text-align: center;
  }
}
