@import-normalize;
@import "./styles/header.css";
@import "./styles/home.css";
@import "./styles/footer.css";
@import "./styles/products.css";
@import "./styles/company.css";
@import "./styles/get-a-quote.css";
@import "./styles/raleway.css";

:root {
  --header-height: 60px;
  --primary-color: rgb(57, 57, 57);

  --media-query-mobile-max-width: 720px;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "sans serif typeface";
  font-weight: 700;

  font-family: "Raleway";
}
