@import-normalize;
@import "./styles/header.css";
@import "./styles/home.css";
@import "./styles/footer.css";
@import "./styles/products.css";
@import "./styles/company.css";
@import "./styles/get-a-quote.css";
@import "./styles/raleway.css";

:root {
  --header-height: 60px;
  --primary-color: rgb(57, 57, 57);

  --media-query-mobile-max-width: 720px;

  --theme-blue-100_pct: rgb(33, 86, 156);
  --theme-blue-80_pct: rgb(77, 120, 176);
  --theme-blue-60_pct: rgb(122, 154, 196);
  --theme-blue-40_pct: rgb(166, 187, 215);
  --theme-blue-20_pct: rgb(211, 221, 235);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "sans serif typeface";
  font-weight: 700;

  font-family: "Raleway";
}
